<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://placehold.co/1280x720/269fe6/FFF.png" alt="PlaceHolder">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Jefferson Duarte
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            27/04/2024 as 11:25
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha">
                <i class="fas fa-layer-group"></i>
                <span>Cafe da Manha</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident modi itaque pariatur optio illo doloremque tempora fugit explicabo architecto beatae, laborum fuga voluptatum sequi molestiae quo odit corporis cumque, ex ut quas. Voluptatibus, ipsa aspernatur! Asperiores possimus, amet laborum perferendis dolore beatae deserunt itaque distinctio quod accusantium eum officiis delectus!
        </p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fas fa-stopwatch"></i> Preparo
            </h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-pizza-slice"></i> Porções
            </h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>
                ver mais...
            </span>
        </a>
    </footer>
</div>